<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
       <configurations>
				<configuration 
					name="SitecoreCognitiveServices" 
					description="Configuration for the master database in the SitecoreCognitiveServices Solution">
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
					  <include name="RTE-Button" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Default/Toolbar 1/Insert Image with Cognitive Search" />
            <include name="RTE-Full-Button" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full/Toolbar 1/Insert Image with Cognitive Search" />
            <include name="RibbonChunk-Analysis" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Analysis" />
            <include name="RibbonChunk-Utility" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Utility" />
            <include name="WebEdit-RTE-Button-Default" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Default/WebEdit Buttons/Insert Cognitive Image" />
            <include name="WebEdit-RTE-Button-Medium" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Medium/WebEdit Buttons/Insert Cognitive Image" />
            <include name="WebEdit-RTE-Button-Full" database="core" path="/sitecore/system/Settings/Html Editor Profiles/Rich Text Full/WebEdit Buttons/Insert Cognitive Image" />
            <include name="WebEdit-Image-Button" database="core" path="/sitecore/system/Field types/Simple Types/Image/WebEdit Buttons/Choose Cognitive Image" />
            <include name="Image-Field-Menu" database="core" path="/sitecore/system/Field types/Simple Types/Image/Menu/Open Cognitive Image Search" />
          </predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
